# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environment
venv/
.env
.env.*

# VSCode settings 
.vscode/
*.code-workspace

# Byte-compiled / cache
*.sqlite3
*.db

# Testing
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db
